.diagram {
    margin-bottom: 40px;
    background-color: #575656;
    padding: 5px;
}
.title {
    font-weight: bold;
    margin-bottom: 10px;
    color: white
}
.box {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    text-align: center;
    width: 100px;
    color: white;
}
.crashed {
    background-color: #ffdddd;
    color: white;
}
.queue {
    background-color: gray;
    color: white;
}
.arrow {
    display: inline-block;
    width: 50px;
    text-align: center;
    color: white
}
.red {
    color: red;
}
.note {
    margin-top: 10px;
    font-style: italic;
    font-size: 14px;
    color: white
}  
