ul {
    padding: 0;
    list-style-type: disc;
    padding-left: 20px;    
}

li {
    margin-bottom: 0;
    padding: 0;
    border-bottom: none;
}

dt {
	padding: 5px;
    font-weight: bold;
}

dd {
    margin: 0 0 0 0;
    line-height: 1.4;
	margin-left: 1em;
    color: #888;
    font-style: italic;
}


dl ul li {
    margin: 0 0 0 0;
    line-height: 1.4;
    color: white;
    font-style: italic;
}

dl ul li span {
    color: #888;
}

.light-gray {
	border-radius: 10px;
	padding: 2px;
	background-color: #302F2F
}
