ul {
    padding: 0;
    list-style-type: disc;
    padding-left: 20px;    
}

li {
    margin-bottom: 0;
    padding: 0;
    border-bottom: none;
}

dl {
    margin: 0;
    padding: 0;
}

dt {
    font-weight: bold;
    margin-top: 1em;
    margin-left: 0;
}

dd {
    margin: 0 0 0 0;
    line-height: 1.4;
    color: #888;
    font-style: italic;
}


dl ul li {
    margin: 0 0 0 0;
    line-height: 1.4;
    color: white;
    font-style: italic;
}

dl ul li span {
    color: #888;
}
